#cartContainer {
     color: var(--black);
     margin: auto;
     padding: 19vh 5vh 5vh 5vh;
     width: 85%;
}

#cartContainer>h1 {
     font-size: 3.5vh;
     font-weight: 500;
     padding-bottom: 3vh;
     padding-left: 5vh;
}

#cartListContainer {
     width: 100%;
}

#cartListContainer .emptyCartContainer {
     align-items: center;
     display: flex;
     flex-direction: column;
     height: 50vh;
     justify-content: space-between;
}

#cartListContainer .emptyCartContainer img {
     filter: invert(var(--invert));
     height: 85%;
     width: 80%;
}

.continueShopping button {
     background-color: var(--black);
     border: none;
     border-radius: 1vh;
     color: var(--white);
     cursor: pointer;
     font-size: 2.5vh;
     font-weight: 700;
     padding: 1vh 2vh;
}

.continueShopping button:hover {
     background-color: var(--main);
}

#cartList {
     align-items: center;
     border-collapse: collapse;
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     width: 100%;
}

#cartList .cartProductContainer {
     align-items: center;
     border: 1px solid;
     border-collapse: collapse;
     border-radius: 1vh;
     box-shadow: 0px 0px 25px -10px rgba(18, 18, 161, 0.75);
     display: flex;
     height: 15vh;
     margin-top: 2vh;
     width: 100%;
}

.cartProductContainer .cartProductDetails {
     align-items: center;
     display: flex;
     flex: 1;
     justify-content: flex-start;
     margin: auto;
}

.cartProductContainer .cartProductQuantity {
     display: flex;
     flex: .6;
     justify-content: space-between;
     padding: 0 2vh;
}

.fa-trash-can:hover {
     color: red;
}


.cartProductContainer .cartProductDetails img {
     border-radius: 1vh;
     height: 14.5vh;
     max-width: 40%;
     min-width: 40%;
}

.cartProductDetails h3 {
     font-size: 20px;
     font-weight: 500;
     margin-left: 2vh;
}

.cartProductPrice {
     align-items: center;
     display: flex;
     flex: 1;
     height: 15vh;
     justify-content: space-evenly;
}

#cartList .fa-solid {
     cursor: pointer;
     font-size: 30px;
}

.fa-circle-plus,
.fa-circle-minus {
     padding: 0 2vh;
}

.quantity {
     font-size: 30px;
}

.price,
.itemprice {
     font-size: 20px;
}

#total {
     align-items: center;
     color: var(--black);
     display: flex;
     justify-content: space-between;
     margin-top: 5vh;
}

#total h1 {
     font-size: 20px;
     padding-right: 3vh;
}

#total button {
     background-color: var(--black);
     border: none;
     color: var(--white);
     cursor: pointer;
     font-size: 16px;
     font-weight: 600;
     margin-right: 3vh;
     margin-top: 2vh;
     padding: 1vh 4vh;
}

#total .checkout:hover {
     background-color: var(--main);
}

#total .clear:hover {
     background-color: rgb(240, 35, 35);
     color: white;
}

@media screen and (max-width:1250px) {
     .quantity {
          font-size: 20px;
     }

     .price,
     .itemprice {
          font-size: 15px;
     }

     #cartList .fa-solid {
          cursor: pointer;
          font-size: 20px;
     }
}

@media screen and (max-width:990px) {
     #cartContainer {
          width: 95%;
     }
}

@media screen and (max-width:800px) {
     #cartContainer {
          padding: 17vh .5vh 5vh .5vh;
          width: 99%;
     }

     .cartProductContainer .cartProductDetails img {
          border-radius: 1vh;
          height: 10vh;
          max-width: 40%;
          min-width: 40%;
     }

     .cartProductDetails h3 {
          font-size: 15px;
          font-weight: 700;
          margin-left: 1vh;
     }

     #cartList .cartProductContainer {
          height: 10vh;
     }

     .fa-circle-plus,
     .fa-circle-minus {
          padding: 0 1vh;
     }

     .cartProductContainer .cartProductQuantity {
          align-items: center;
          display: flex;
          flex: .5;
          justify-content: space-between;
          padding: 0 1vh;
          width: 50%;
     }
}

@media screen and (max-width:600px) {
     #cartList .cartProductContainer {
          flex-direction: column;
          justify-content: space-evenly;
          min-height: 30vh;
          width: 70%;
     }

     .cartProductPrice {
          flex-direction: column;
     }

     .cartProductContainer .cartProductDetails {
          flex-direction: column;
          width: 80%;
     }

     .cartProductContainer .cartProductDetails img {
          border-radius: 1vh;
          height: 16vh;
          max-width: 60%;
          min-width: 80%;
     }

}

@media screen and (max-width:370px) {

     .cartProductContainer .cartProductQuantity {
          flex: .5;
          justify-content: space-evenly;
          width: 80%;
     }

     .cartProductContainer .cartProductDetails {
          flex-direction: column;
          width: 100%;
     }

     .cartProductDetails h3 {
          font-size: 13px;
     }

     .quantity {
          font-size: 15px;
     }

     .cartProductPrice {
          font-size: 13px;
     }

     #cartList .fa-solid {
          cursor: pointer;
          font-size: 15px;
     }

     #cartList .cartProductContainer {
          flex-direction: column;
          justify-content: space-evenly;
          min-height: 30vh;
          width: 70%;
     }

     #cartContainer>h1 {
          font-size: 16px;
          font-weight: 800;
     }
}