#cartContainer{
     padding: 17vh 5vh 5vh 5vh;
     width: 85%;
     margin: auto;
     color: var(--black);
}
#cartContainer>h1{
     font-weight: 500;
     font-size: 3.5vh;
     padding-left: 5vh;
     padding-bottom: 3vh;
}
#cartListContainer{
     width: 100%;
}

#cartListContainer .emptyCartContainer{
     display: flex;
     height: 50vh;
     flex-direction: column;
     align-items: center;
     justify-content: space-between;
}

#cartListContainer .emptyCartContainer img{
     filter: invert(var(--invert));
}

.continueShopping button{
     padding: 1vh 2vh;
     background-color: var(--black);
     color: var(--white);
     font-size: 2vh;
     cursor: pointer;
     font-weight: 700;
     border: none;
     border-radius: 1vh;
}

.continueShopping button:hover{
     background-color: var(--main);
}

#cartList{
     width: 100%;
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     align-items: center;
     border-collapse: collapse;
}
#cartList div{
     width: 100%;
     display: flex;
}
#cartList div:nth-child(1) span{
     flex: 1;
     width: 100%;
     display: flex;
     font-size: 3vh;
     justify-content: space-around;
     background-color: var(--bColor);
     font-weight: 700;
     border:.1vh solid;
     padding: 2vh 0;
}
#cartList>div span{
     flex: 1;
     width: 100%;
     display: flex;
     min-height: 5rem;
     font-size: 3vh;
     justify-content: space-around;
     align-items: center;
     border: .1vh solid;
}

#cartList div span:nth-child(2),#cartList div span:nth-child(2){
     flex: 2.5;
     display: flex;
     align-items: center;
     justify-content: flex-start;
} 


#cartList div span img{
     width: 8vh;
}
#cartList div span div{
     padding-left: 2px;
}

.fa-circle-plus, .fa-circle-minus{
     font-size: 4vh;
     color: var(--black);
     cursor: pointer;
     padding: 0 2vh;
}
#cartList div span:nth-child(3){
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-evenly;
}

#cartList div span:nth-child(3) > div{
     display: flex;
     align-items:center;
     font-size: 2.5vh;
     justify-content: space-around;
}

#cartList div span:nth-child(3)>p{
     cursor: pointer;
     font-weight: 600;
     font-size: 2.5vh;
}
#cartList div span:nth-child(3)>p:hover{
     color: red;
}

#total{
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin-top: 5vh;
     color: var(--black);
}
#total button{
     font-size: 2.75vh;
     padding: 1vh 4vh;
     margin-top: 2vh;
     font-weight: 600;
     cursor: pointer;
     background-color: var(--black);
     color: var(--white);
     border: none;
}
#total button:hover{
     background-color: var(--main);
}

@media screen and (max-width:1000px) {
     #cartContainer{
          width: 95%; 
          padding: 17vh 0vh 5vh 0vh;
     }
}

@media screen and (max-width:890px) {
     #cartContainer{
          width: 99%; 
     }
     #cartList div span{
          font-size: 14px;
     }
     #cartList div:nth-child(1) span{
          font-size: 14px;
     }
     #total h1, #total button{
          font-size: 14px;
     }
     #cartList div span img{
          width: 3rem;
     }
}
@media screen and (max-width:690px) {
     #cartList div span{
          font-size: 10px;
     }
     #cartList div:nth-child(1) span{
          font-size: 10px;
     }
     .fa-circle-plus, .fa-circle-minus{
          font-size: 14px;
     }
     #cartList>div span{
          min-height: 4rem;
     }
     #cartList div span:nth-child(3)>p{ 
          font-size: 12px;
     }
}
@media screen and (max-width:550px) {
     #cartList div span:nth-child(3) > div {
          font-size: 10px;
     }
     #cartList div span{
          font-size: 8px;
     }
     #cartList div:nth-child(1) span{
          font-size: 8px;
     }
     .fa-circle-plus, .fa-circle-minus{
          font-size: 10px;
     }
     #cartList>div span{
          min-height: 3rem;
     }
     #cartList div span img{
          width: 2rem;
        
     }
}

@media screen and (max-width:450px) {
     #cartList div span{
          font-size: 8px;
     }
     #cartList div:nth-child(1) span{
          font-size: 8px;
     }
     .fa-circle-plus, .fa-circle-minus{
          font-size: 10px;
     }
     #cartList>div span{
          min-height: 3rem;
     }
     #cartList div span img{
          width: 2rem;
        
     }
}