#checkout{
    width: 80%;
    margin: auto;
    padding: 2rem 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--black);
}
#checkout img{
    width: 400px;
    height: 400px;
    filter: var(--invert);
}
#checkout h1{
    font-size: 30px;
    margin-bottom: 1.5rem;
}
#checkout h3{
    font-size: 25px;
    margin-bottom: 1.5rem;
}
#checkout button{
    padding: 1rem 3rem;
    font-size: 1.5rem;
    color: var(--white);
    cursor: pointer;
    border: none;
    border-radius: 1vh;
    background-color: var(--black);
}
#checkout button:hover{
    background-color: var(--main);
}