#footerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    background-color: rgb(31, 29, 29);
    color: white;
    border-top: .1rem solid white;
    padding: 2rem 0;
}

#footerDetails {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 1.5rem;
    gap: 5vh;
}

#footerDetails .contact {
    flex: 30%;
    border-right: .1vh solid;
    padding-right: 5vh;
}

#footerDetails .contact h1 {
    font-weight: 600;
    padding-bottom: 3vh;
}

#footerDetails .contact p {
    font-size: 1.2rem;
    text-align: start;
    padding: .5rem 0;
    letter-spacing: .1rem;
}

#footerDetails .contact p i {
    padding-right: .5rem;
}

#footerDetails .details {
    flex: 70%;
    text-align: justify;
    font-size: 1.2rem;
    line-height: 2rem;
    letter-spacing: .1rem;
}

#footerContainer #copyright {
    text-align: center;
    width: 80%;
    padding-top: 2rem;
    border-top: .1rem solid white;
    font-size: 1.5rem;
}

#help {
    position: fixed;
    color: var(--black);
    top: 36rem;
    left: 2rem;
    font-size: 3rem;
    cursor: pointer;
    border-radius: 10%;
    z-index: 10000;
}

#backToTop {
    position: fixed;
    bottom: 7rem;
    right: 5rem;
    color: var(--black);
    z-index: 10000;
    font-size: 3rem;
    width: 15px;
    cursor: pointer;
}


@media screen and (max-width: 1450px) {
    #footerDetails {
        width: 95%;
    }

}

@media screen and (max-width: 980px) {

    #footerDetails {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    #footerDetails .contact {
        border-bottom: .1vh solid #fff;
        border-right: none;
    }
}

@media screen and (max-width: 600px) {

    #footerDetails {
        width: 100%;
    }

    #footerDetails .details {
        display: none;
    }

    #footerDetails .contact {
        border-bottom: none;
        border-right: none;
    }

}