#navContainer {
    background-color: var(--white);
    box-shadow: 0px 22px 47px -32px rgba(55, 65, 176, 1);
    max-height: 5rem;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    width: 100%;
}

.logo img {
    filter: invert(var(--invert));
    width: 200px;
}

.header .navbar {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
}

.header .navbar h1 {
    color: var(--black);
    cursor: pointer;
    font-size: 3vh;
    font-weight: 600;
    margin: 0 3rem;
}

.header .navbar h1:hover {
    color: var(--main);
}

.options {
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

.options h1 {
    color: var(--black);
    cursor: pointer;
    font-size: 4.5vh;
    font-weight: 600;
    margin: 0 1rem;
}

.options h1:hover {
    color: var(--main);
}

.navbarMob {
    display: none;
}

.overlay {
    align-items: center;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    position: fixed;
    right: 0;
    top: 0;
    transition: 1s ease;
    width: 100%;
    z-index: 5;
}

.overlay h1 {
    color: var(--black);
    cursor: pointer;
    font-size: 4.5vh;
    margin: 1rem 2rem;
}

.overlay h1:hover {
    color: var(--black);
    text-decoration: underline !important;
}

.navbarMob .fa-xmark {
    color: var(--black);
    cursor: pointer;
    font-size: 4.5vh;
    position: absolute;
    right: 10px;
    top: 13px;
}

.navbarMob .fa-bars {
    color: var(--black);
    cursor: pointer;
    font-size: 4.5vh;
    font-weight: 600;
}

.cart-btn {
    position: relative;
}

.cart-btn span {
    color: var(--black);
    font-size: 3vh;
    font-weight: 500;
    padding-left: 5%;
    position: absolute;
    top: -30%;
}

@media screen and (max-width:2000px) {
    .logo img {
        filter: invert(var(--invert));
        width: 220px;
    }
}


@media screen and (max-width:1150px) {

    .header .navbar {
        display: none;
    }

    .header .navbarMob {
        display: flex;
    }

    .header .navbarMob .optionsM {
        display: none;
    }

}

@media screen and (max-width:650px) {
    .options {
        display: none;
    }

    .navbar {
        padding: 1rem;
    }

    .logo img {
        width: 140px;
    }

    hr {
        width: 50%;
    }

    .header .navbarMob .optionsM {
        display: flex;
    }

    .overlay {
        justify-content: flex-start;
        padding-top: 6%;
    }

    .overlay h1 {
        color: var(--black);
        cursor: pointer;
        font-size: 3.5vh;
        margin: 1rem 2rem;
    }
}